* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

:root {
  --transparent-background-color: rgba(16, 16, 16, 0.85);
  --background: #101015;
  --sub: #414144;
  --text: #FFFFFF;
  --success: #15BF40;
  --accent: #F29F05;
  --red: #C91D1D;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 5px;
}

.btn--field {
  display: flex;
  gap: 5px;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--accent);
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.disabled {
  background-color: #414144;
  color: #8F8F8F;
  cursor: auto;
}

.btn:not(.disabled):hover {
  background-color: rgb(170, 117, 13);
}


.vehicle-list-menu {
  font-family: 'Roboto', sans-serif;
  width: 650px;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  background: var(--transparent-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.vehicle-menu-bar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.vehicle-list-menu .vehicle-menu-bar h2 {
  color: var(--accent);
  font-weight: 600;
}

.vehicle-list-menu .vehicle-menu-bar form {
  justify-self: flex-start;
}

.vehicle-list-menu .vehicle-menu-bar form .search-bar {
  border-radius: 16px;
  border: none;
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 7px 8px;
}

.vehicle-list-menu .vehicle-menu-bar form .search-bar::placeholder {
  color: var(--sub);
}

.vehicle-list-menu .vehicle-menu-bar form .search-bar:focus {
  outline: 1px solid var(--accent);
}

.vehicle-list-menu .vehicle-menu-bar button {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  background-color: #C91D1D;
  font-family: 'Roboto', sans-serif;
  justify-self: flex-end;
}

.vehicle-list-menu .vehicle-menu-bar button:hover {
  background-color: rgb(158, 0, 0);
}

.vehicle-list-menu .vehicle-list {
  color: var(--text);
  font-weight: bold;
  font-size: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.vehicle-list-menu .vehicle-list tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  gap: 3px;
}

.vehicle-list-menu .vehicle-list tr td {
  width: 100%;
}

.vehicle-list-menu .vehicle-list tr td:nth-child(1) {
  display: flex;
  gap: 5px;
  width: 220px!important;
  height: 55px;
}

.vehicle-list-menu .vehicle-list tr td:nth-child(5) div {
  display: flex;
  justify-content: end;
}

.vehicle-list-menu .vehicle-list tr td:nth-child(1) div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.vehicle--name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 105px;
}

.vehicle-list-menu .vehicle-list tr td:nth-child(1) div .vehicle--plate {
  color: #8F8F8F;
}

.vehicle--engine-status svg {
  width: 25px;
  height: 20px;
}

.vehicle--engine-status {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-items: start;
  align-items: center;
  max-width: 90px;
}

.vehicle--insurance-status {
  color: var(--success);
}

.vehicle--insurance-status, .vehicle--location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.vehicle--spawn-btn button {
  background: var(--accent);
  border: none;
  border-radius: 8px;
  padding: 5px 14px;
  cursor: pointer;
}

.vehicle--spawn-btn button:hover {
  background: rgb(170, 117, 13);
}

.has-scrollbar {
  margin-right: 5px;
}